<!-- reviews.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Reviews</title>
</head>
<body>
  <h1>Reviews</h1>


  <form action="/" method="get">
  <label for="semester">Semester:</label>
  <input type="text" name="semester" id="semester">

  <label for="year">Year:</label>
  <input type="number" name="year" id="year">

  <label for="professor">Professor's Name:</label>
  <input type="text" name="professor" id="professor">

  <button type="submit">Filter</button>
</form>


  <table>
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Professor</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {{#each reviews}}
      <tr>
        <td>{{courseNumber}}</td>
        <td>{{courseName}}</td>
        <td>{{semester}}</td>
        <td>{{year}}</td>
        <td>{{professor}}</td>
        <td>{{review}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
